#Profile {
  text-align: center;
  height: 300px;
  width: 290px;
  border-radius: 5%;
  border-color: bisque;
  border-bottom-color: bisque;
  border-style: solid;
  border-width: 5px;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
