<div class="form">
  <form>
    <label id="Username-Text" for="Username">Username</label>
    <input
      class="form-control"
      id="Username"
      type="text"
      placeholder="Username"
    />

    <label id="Adress-Mail-Text" for="Adress Mail">Adress Mail</label>
    <input
      class="form-control"
      id="Adress Mail"
      type="email"
      placeholder="Adress Mail"
    />

    <label id="First-Name-Text" for="First Name">First Name</label>
    <input
      class="form-control"
      id="First Name"
      type="text"
      placeholder="First Name"
    />

    <label id="Last-Name-Text" for="Last-name">Last Name</label>
    <input
      class="form-control"
      id="Last-name"
      type="text"
      placeholder="Last Name"
    />

    <label id="Password-Text" for="Password">Password</label>
    <input
      class="form-control"
      id="Password"
      type="password"
      placeholder="Password"
    />
  </form>
  <button id="button" class="btn btn-outline-primary">SUBMIT</button>
</div>
