<!-- Navigation -->
<!-- <nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand">LOGO</a>
    <a class="btn btn-primary" [routerLink]="'/signin'">Sign In</a>
    <a class="btn btn-primary" [routerLink]="'/signup'">Sign Up</a>
  </div>
</nav> -->

<nav class="navbar navbar-light bg-light">
  <h3 class="logo">LOCAL GUIDE</h3>
  <a class="btn btn-outline-success" [routerLink]="'/signin'">SIGN IN</a>
  <a id="buttonLOG-IN " class="btn btn-outline-success" [routerLink]="'/signup'"
    >SIGN UP</a
  >
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">
          WELCOME TO LOCAL GUIDE
        </h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto"></div>
    </div>
  </div>
</header>

<div class="jumbotron jumbotron-fluid">
  <div>
    <h1 class="display-4 text-center">MOST VISITED PLACES IN TUNISIA</h1>
  </div>
</div>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="
          background-image: url('https://images.unsplash.com/photo-1535190971825-f335138358c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80')
        "
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>SAHARA</h2>
        <p class="lead mb-0">
          The Tunisian Sahara encourages contemplation whether you're staying in
          a luxury hotel, a well-equipped campsite or a tent right in the heart
          of the desert. It comes to life in a 4x4, speeding over rocky roads,
          or on the back of a camel. It can also offer adrenaline junkies the
          speed and thrills of extreme sports.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img"
      style="
          background-image: url('https://static.thousandwonders.net/Great.Mosque.of.Kairouan.original.36032.jpg')
        "></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>KAIROUAN</h2>
        <p class="lead mb-0">
          Located in the centre of Tunisia in a plain at an almost equal
          distance from the sea and the mountain, Kairouan is the most ancient
          Arabo-Muslim base of the Maghreb (670 AD) and one of its principal
          holy cities.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="jumbotron jumbotron-fluid">
  <div>
    <h1 class="display-4 text-center">
      <h2>“TAKE ONLY MEMORIES, LEAVE ONLY FOOTPRINTS”</h2>
    </h1>
  </div>
</div>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSapohvygVlUwEjxIhaAHP86EGUJXf3thCbSQ&usqp=CAU"
          />
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">
            "Yes I would , it was a very good adventure well organised and
            executed. Well done !"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt=""
          />
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">
            "We will recommend LOCAL GUIDE to my friends in UK. Many thanks for
            a good trip."
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-circle mb-3"
            src="https://i.pinimg.com/originals/8e/0f/70/8e0f709551d0bc63edd2aac7cb129e19.jpg"
            alt=""
          />
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">
            " Yes, it was a very memorable trip and one that we would suggest to
            other people. Fine job! "
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">
          &copy; LOCAL GUIDE 2020. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
