<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-34">
          Account SIGN IN
        </span>

        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
          <input id="adress-mail" class="input100 form-control" type="text" name="adress-mail" placeholder="Adress Mail"
            [(ngModel)]="AdressMail" [ngModelOptions]="{ standalone: true }" />
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input class="input100 form-control" type="password" name="pass" placeholder="Password" [(ngModel)]="Password"
            [ngModelOptions]="{ standalone: true }" />
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="onLogIn()">
            Sign in
          </button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
          <input id="adress-mail" class="input100 form-control" type="text" name="adress-mail"
            placeholder="Adress Mail" />
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input class="input100 form-control" type="password" name="pass" placeholder="Password" />
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" [routerLink]="'/admin'">
            Sign in As Admin
          </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
          <span class="txt1">
            Welcome
          </span>
          <a class="txt2">
            To Local Guide Website
          </a>
        </div>
      </form>
      <div class="login100-more" style="
          background-image: url('https://cdn.civitatis.com/tunez/tunez/galeria/panoramica-sidi-bou-said.jpg');
        "></div>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>